
span{
  color: Purple;
}
.list{
	color: green;
}
.note{
	color: Red;
}
kotak{
	border: 5px solid grey;
	color:white;
	padding: 10px;
	width: 70%;
	margin: 30px;
	background: black;	
}
p{
	padding: 3px;
	padding-left: 10px;
}
body{
	border: 6px solid black;
}